<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
    <Fragment>
        <ComponentGroup Id="ApiComponents" Directory="INSTALLFOLDER">
            <Component Id="HyperpassApi" Subdirectory="bin">
                <File Source="bin\hyperpass-api.exe" />
                <ServiceInstall Name="HyperpassApi" DisplayName="Hyperpass REST API"
                    Description="REST API sidecar for the Hyperpass daemon"
                    Arguments="--listen 127.0.0.1:51052 --insecure-no-auth --verbosity info"
                    Start="auto" Type="ownProcess"
                    ErrorControl="normal">
                    <ServiceConfig FailureActionsWhen="failedToStopOrReturnedError" OnInstall="yes"
                        OnReinstall="yes" />
                    <util:ServiceConfig FirstFailureActionType="restart"
                        SecondFailureActionType="restart" ThirdFailureActionType="restart"
                        ResetPeriodInDays="49710" />
                    <ServiceDependency Id="Hyperpass" />
                </ServiceInstall>
                <ServiceControl Name="HyperpassApi" Start="install" Stop="both" Remove="uninstall" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
