<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="GUIComponents" Directory="INSTALLFOLDER">
            <Component Id="ElpGUI" Subdirectory="bin">
                <File Id="elp.gui.exe" Source="bin\elp.gui.exe" />
            </Component>

            <Component>
                <RegistryValue Root="HKCU" Key="SOFTWARE\Elemento\Electros LaunchPad" Name="installed"
                    Type="integer" Value="1" KeyPath="yes" />
                <Shortcut Name="Electros LaunchPad" Directory="ProgramMenuFolder" Icon="mp.exe"
                    Target="[#elp.gui.exe]" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
